[submodule "packages/server"]
	path = packages/server
	url = git@github.com:tinenmi/traddutore-server.git
[submodule "packages/client"]
	path = packages/client
	url = git@github.com:tinenmi/traddutore-client.git
